.button {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid #e7d9ff;
  background: #e7d9ff;
  color: rgb(78, 76, 76);
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  border-radius: 20px;
  transition: background-color 0.3s ease;
  margin-right: 5px;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background: #ffd8e8;
  border-color: #d05387;
  transform: scale(1.1);
}

.button--inverse {
  background: transparent;
  color: #e7d9ff;
}

.button--inverse:hover,
.button--inverse:active {
  color: white;
  background: #e7d9ff;
}

.button--danger {
  background: #830000;
  border-color: #830000;
  color: #ccc;
}

.button--danger:hover,
.button--danger:active {
  background: #f34343;
  border-color: #f34343;
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
  background: #ccc;
  color: #979797;
  border-color: #ccc;
  cursor: not-allowed;
}

.button--small {
  font-size: 0.8rem;
}

.button--big {
  font-size: 1.5rem;
}
