.user-item {
  margin: 1rem;
  width: calc(45% - 2rem);
  min-width: 17.5rem;
  transition: transform 0.3s ease; /* Add transition for smooth scaling */
}

.user-item:hover {
  transform: scale(1.05); /* Scale the entire user-item on hover */
}

.user-item a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  padding: 1rem;
  color: white;
  background: #e7d9ff;
  transition: background 0.3s ease; /* Optional: smooth transition for background */
}

.user-item a:hover,
.user-item a:active {
  background: #ffd8e8;
  cursor: pointer;
}

.user-item__content {
  padding: 0;
}

.user-item__image {
  width: 4rem;
  height: 4rem;
  margin-right: 1rem;
}

.user-item__info h2 {
  font-size: 1.5rem;
  margin: 0 0 0.5rem 0;
  font-weight: normal;
  color: #504086;
}

.user-item:hover h2,
.user-item:active h2,
.user-item:hover h3,
.user-item:active h3 {
  color: #292929;
}

.user-item__info h3 {
  margin: 0;
}

.user-item__votes {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.user-item__votes img {
  width: 20px;
  height: 20px;
}

.user-item__votes span {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}
